workflows/Openweathermap/1195_Openweathermap_Pushover_Update_Scheduled.json
{
  "id": "91",
  "name": "Send daily weather updates via a push notification",
  "nodes": [
    {
      "name": "Pushover",
      "type": "n8n-nodes-base.pushover",
      "position": [
        970,
        300
      ],
      "parameters": {
        "message": "=Hey! The temperature outside is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}\u00b0C.",
        "userKey": "",
        "priority": 0,
        "additionalFields": {
          "title": "Today's Weather"
        }
      },
      "credentials": {
        "pushoverApi": "pushover"
      },
      "typeVersion": 1
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        570,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 9
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "OpenWeatherMap",
      "type": "n8n-nodes-base.openWeatherMap",
      "position": [
        770,
        300
      ],
      "parameters": {
        "cityName": "berlin"
      },
      "credentials": {
        "openWeatherMapApi": "owm"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "OpenWeatherMap",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap": {
      "main": [
        [
          {
            "node": "Pushover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using Openweathermap and Cron and Pushover with 3 nodes, triggered via Scheduled. Complexity: Low",
    "category": "Web Scraping & Data Extraction",
    "complexity": "Low",
    "integrations": [
      "Openweathermap",
      "Cron",
      "Pushover"
    ],
    "analyzed_at": "2026-01-29T09:16:37.080776"
  }
}