workflows/Twitter/1165_Twitter_Telegram_Create_Triggered.json
{
  "id": 85,
  "name": "New WooCommerce Product to Twitter and Telegram",
  "nodes": [
    {
      "name": "Twitter",
      "type": "n8n-nodes-base.twitter",
      "position": [
        720,
        300
      ],
      "parameters": {
        "text": "=\u2728 New Product Announcement \u2728\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
        "additionalFields": {}
      },
      "credentials": {
        "twitterOAuth1Api": {
          "id": "37",
          "name": "joffcom"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        720,
        500
      ],
      "parameters": {
        "text": "=\u2728 New Product Announcement \u2728\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
        "chatId": "123456",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "56",
          "name": "Telegram account"
        }
      },
      "typeVersion": 1
    },
    {
      "name": "WooCommerce Trigger",
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "position": [
        540,
        400
      ],
      "webhookId": "ab7b134b-9b2d-4e0d-b496-1aee30db0808",
      "parameters": {
        "event": "product.created"
      },
      "credentials": {
        "wooCommerceApi": {
          "id": "48",
          "name": "WooCommerce account"
        }
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "WooCommerce Trigger": {
      "main": [
        [
          {
            "node": "Twitter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using Twitter and Telegram and Woocommerce with 3 nodes. Complexity: Low",
    "category": "Social Media Management",
    "complexity": "Low",
    "integrations": [
      "Twitter",
      "Telegram",
      "Woocommerce"
    ],
    "analyzed_at": "2026-01-29T09:16:39.200186"
  }
}