workflows/Emelia/1214_Emelia_Automate.json
{
  "nodes": [
    {
      "name": "Emelia",
      "type": "n8n-nodes-base.emelia",
      "position": [
        530,
        310
      ],
      "parameters": {
        "operation": "create",
        "campaignName": "n8n-docs"
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Emelia1",
      "type": "n8n-nodes-base.emelia",
      "position": [
        730,
        310
      ],
      "parameters": {
        "operation": "addContact",
        "campaignId": "603dfd70cbe34c3c9730fd09",
        "contactEmail": "email@example.com",
        "additionalFields": {
          "firstName": "NAME"
        }
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Emelia2",
      "type": "n8n-nodes-base.emelia",
      "position": [
        930,
        310
      ],
      "parameters": {
        "campaignId": "={{$node[\"Emelia\"].json[\"_id\"]}}"
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Emelia": {
      "main": [
        [
          {
            "node": "Emelia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emelia1": {
      "main": [
        [
          {
            "node": "Emelia2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using Emelia with 3 nodes. Complexity: Low",
    "category": "Marketing & Advertising Automation",
    "complexity": "Low",
    "integrations": [
      "Emelia"
    ],
    "analyzed_at": "2026-01-29T09:16:37.736405"
  }
}