workflows/Telegram/0231_Telegram_Nasa_Send_Scheduled.json
{
  "id": "174",
  "name": "Send the Astronomy Picture of the day daily to a Telegram channel",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        450,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 20
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "NASA",
      "type": "n8n-nodes-base.nasa",
      "position": [
        650,
        300
      ],
      "parameters": {
        "download": false,
        "additionalFields": {}
      },
      "credentials": {
        "nasaApi": "NASA"
      },
      "typeVersion": 1
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        850,
        300
      ],
      "parameters": {
        "file": "={{$node[\"NASA\"].json[\"url\"]}}",
        "chatId": "-485365454",
        "operation": "sendPhoto",
        "additionalFields": {
          "caption": "={{$node[\"NASA\"].json[\"title\"]}}"
        }
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1
    }
  ],
  "active": false,
  "settings": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "NASA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NASA": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using Cron and Telegram and Nasa with 3 nodes, triggered via Scheduled. Complexity: Low",
    "category": "Communication & Messaging",
    "complexity": "Low",
    "integrations": [
      "Cron",
      "Telegram",
      "Nasa"
    ],
    "analyzed_at": "2026-01-29T09:16:37.134821"
  }
}