workflows/Telegram/0346_Telegram_Cron_Automation_Scheduled.json
{
  "id": 1,
  "name": "Daily Journal Reminder",
  "nodes": [
    {
      "name": "Morning reminder",
      "type": "n8n-nodes-base.cron",
      "notes": "Trigger very morning",
      "position": [
        220,
        60
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "name": "format reminder",
      "type": "n8n-nodes-base.functionItem",
      "position": [
        460,
        60
      ],
      "parameters": {
        "functionCode": "\n// Creates message with todays date\nconst today = new Date()\nconst yesterday = new Date(today)\n\nyesterday.setDate(yesterday.getDate() - 1)\nconst message = `What did you do: ${yesterday.toISOString().split('T')[0]}`\n\nreturn {message};"
      },
      "typeVersion": 1
    },
    {
      "name": "Send journal reminder",
      "type": "n8n-nodes-base.telegram",
      "position": [
        700,
        60
      ],
      "parameters": {
        "text": "={{$node[\"format reminder\"].json[\"message\"]}}",
        "chatId": "666884239",
        "additionalFields": {}
      },
      "credentials": {},
      "typeVersion": 1
    }
  ],
  "active": true,
  "settings": {},
  "connections": {
    "format reminder": {
      "main": [
        [
          {
            "node": "Send journal reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning reminder": {
      "main": [
        [
          {
            "node": "format reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using send and format and Cron with 3 nodes, triggered via Scheduled. Complexity: Low",
    "category": "Uncategorized",
    "complexity": "Low",
    "integrations": [
      "send",
      "format",
      "Cron"
    ],
    "analyzed_at": "2026-01-29T09:36:08.468701"
  }
}