workflows/Manual/0016_Manual_Googleslides_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        270,
        280
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Google Slides",
      "type": "n8n-nodes-base.googleSlides",
      "position": [
        470,
        280
      ],
      "parameters": {
        "operation": "getSlides",
        "returnAll": true,
        "authentication": "oAuth2",
        "presentationId": "11myCBTn3IT-Iww01WMz43L7HUmQdL6cCR6NCtpsZer0"
      },
      "credentials": {
        "googleSlidesOAuth2Api": "Google Slides Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Google Slides1",
      "type": "n8n-nodes-base.googleSlides",
      "position": [
        670,
        280
      ],
      "parameters": {
        "download": true,
        "resource": "page",
        "operation": "getThumbnail",
        "pageObjectId": "={{$json[\"objectId\"]}}",
        "authentication": "oAuth2",
        "presentationId": "={{$node[\"Google Slides\"].parameter[\"presentationId\"]}}"
      },
      "credentials": {
        "googleSlidesOAuth2Api": "Google Slides Credentials"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Google Slides": {
      "main": [
        [
          {
            "node": "Google Slides1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Google Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "meta": {
    "description": "Workflow using google and Manualtrigger with 3 nodes. Complexity: Low",
    "category": "Project Management",
    "complexity": "Low",
    "integrations": [
      "google",
      "Manualtrigger"
    ],
    "analyzed_at": "2026-01-29T09:36:08.862695"
  }
}